= simple_form_for @pin, html: {multipart: true} do |f|
	- if @pin.errors.any?
		#errors
			%h2
			= pluralize(@pin.errors.count, "Error")
			verhinderten das Speichern des Pins
			%ul
				-@pin.errors.full_messages.each do |msg|
					%li= msg
	= f.text_area :description, maxlength: 222, required: true, class: "text-area"
	
	= f.file_field :image

	= f.button :submit
	oder
	= link_to "Abbrechen", current_user