.container
	- @pins.each do |pin|
		- for friendship in current_user.friendships
			- if friendship.friend.name == pin.user.name
				.pin
					.left
						= image_tag pin.user.avatar.url(:extrasmall)
						-#.triangle
					.vertical
						.dot
						%hr
					.right
						- if pin.image?
							- begin
								= image_tag pin.image.url(:crop)
							- rescue
								%span [image missing]
						%p= pin.description
						%i #{I18n.l(pin.created_at, format: '%-d %B %Y')}
						.votes
							= link_to like_pin_path(pin), method: :put, class: "votelink" do
								= image_tag("like_up.png", class: "voteimg")
							%span= pin.get_upvotes.size - pin.get_downvotes.size
							= link_to unlike_pin_path(pin), method: :put, class: "votelink" do
								= image_tag("like_down.png", class: "voteimg")

						- if current_user.id == pin.user_id or current_user.admin?
							= link_to "zum Pin", pin

						= link_to flag_pin_path(pin), method: :post, class: "flag" do
							%i.material-icons flag
