.gilde
	%header
		.container
			= image_tag @guild.image.url(:standart)
			%h1
				= @guild.name
			.score
				= render "score"
				= @guild.score
			%p= @guild.description

	%ul.guildnav
		%li= link_to "Home", guild_path
		%li= link_to "Mitglieder", guilds_members_path
		%li= link_to "Chat", guilds_chat_path
	%br
	%br
	%br