= render 'header'
- if current_user.guild_id == @guild.id
	.container.chat
		#messages.panel.panel-default{"data-chat-room-id" => "#{@chat_room.id}"}
			.panel-body
				%ul.media-list
					= render @chat_room.messages
		.well
			= form_for @message, url: '#' do |f|
				= hidden_field_tag 'chat_room_id', @chat_room.id
				.form-group
					= f.text_field :body, autocomplete: "off", class: 'text-area', id: 'emojiarea2'
					#container
				= f.submit "Post", id: "message_button"

:javascript
	$(document).ready(function() {
		$("#emojiarea2").emojioneArea({
			events: {
				keyup: function (editor, event) {
			    if(event.keyCode == 13){
			      $("#message_button").click();
			    }
				}
			}
		});
	});
