.container
	#treppchen
		= image_tag(@guilds.second.image.url(:standart), class: 'second')
		= image_tag(@guilds.first.image.url(:standart), class: 'first')
		= image_tag(@guilds.third.image.url(:standart), class: 'third')
		- 3.times do |x|
			- x = x + 1
			%span= x
	- @guilds.each do |g|
		= link_to g.name, guild_path(g.id)