.container
	#treppchen
		- if @top.count >= 2
			.second
				= image_tag(@top.second.image.url(:standart))
				%span 2.
		- if @top.count >= 1
			.first
				= image_tag(@top.first.image.url(:standart))
				%span 1.
		- if @top.count >= 3
			.third
				= image_tag(@top.third.image.url(:standart))
				%span 3.
	%br
	%hr
	%br
	%br
	- @guilds.each do |g|
		.searchbox
			= image_tag g.image.url(:standart)
			= link_to g.name, guild_path(g.id)