.container
	#treppchen
		- if @guilds.count >= 1
			= image_tag(@guilds.second.image.url(:standart), class: 'second')
			- if @guilds.count >= 2
				= image_tag(@guilds.first.image.url(:standart), class: 'first')
				- if @guilds.count >= 3
					= image_tag(@guilds.third.image.url(:standart), class: 'third')
		- 3.times do |x|
			- x = x + 1
			%span= x
	- @guilds.each do |g|
		= link_to g.name, guild_path(g.id)