= render 'header'
.container
	%br


	- if current_user.owner? or current_user.admin?
		= link_to "bearbeiten", edit_guild_path
	- elsif current_user.guild_id == @guild.id
		= link_to "leave", leave_path(@guild), class: "btn"
	- elsif current_user.guildmember?
	- else
		= link_to "Join", join_path(@guild), class: "btn"

	- if current_user.owner? and current_user.guild_id == @guild.id or current_user.admin?
		= link_to "löschen", guild_path, method: :delete, data: { confirm: "Bist du sicher, dass du die Gilde löschen möchtest?"}, class: "btn"