%table
	%tr
		%th ID
		%th Email
		%th Name
		%th Score
		%th Pins
		%th Gilde
		%th Owner
		%th Mod
		%th sign_in_count
		%th last Login
		%th last IP
		%th destroy
	- @users.each do |u|
		%tr
			%td= u.id
			%td= u.email
			%td= u.name
			%td= u.score
			%td= u.pins.count
			- begin
				%td= Guild.find(u.guild_id).name
			- rescue
				%td false
			%td= u.owner
			%td
				- if u.mod?
					= link_to "true", undo_mod_user_path(u.id)
				- else
					= link_to "false", make_mod_user_path(u.id)
			%td= u.sign_in_count
			%td= u.last_sign_in_at
			%td= u.last_sign_in_ip
			%td= link_to "Löschen", admin_destroy_user_path(u), method: :delete, data: { confirm: "Sicher?" }

