.message
	= link_to image_tag(msg.user.avatar.url(:extrasmall), alt: msg.user.name, class: "media-object"), msg.user, target: '_blank'
	.media-body
		%h4.media-heading
			= link_to msg.user.name + ":", msg.user, target: '_blank'

		.top-right
			[#{msg.created_at.strftime('%d %b - %H:%M:%S')}]
			- if current_user.admin?
				= link_to "[x]", msg_path(msg), method: :delete, data: { confirm: "Bist du sicher, dass du die Nachricht löschen möchtest?"}

		-#= raw(msg.body_html)
		= msg.content.html_safe
