-# if current_user == msg.user
	-#.message.me
		-#.message-body
			-#%span.message-username= link_to msg.user.name, msg.user, target: '_blank'
			-#%time
				-#%i.icon-clock
				-#= msg.created_at.strftime('%H:%M:%S')
			-# if current_user.admin?
				-#= link_to '[x]', msg, method: :delete, remote: true, class: "del-link"

			-#= raw(msg.content_html)
		-#= link_to image_tag(msg.user.avatar.url(:extrasmall), alt: msg.user.name, class: "user-img"), msg.user, target: '_blank'
-	#else
.message.other{:id => "msg_#{msg.id}"}
	= link_to image_tag(msg.user.avatar.url(:extrasmall), alt: msg.user.name, class: "user-img"), msg.user, target: '_blank'
	.message-body
		%span.message-username= link_to msg.user.name, msg.user, target: '_blank'
		- if msg.user.admin?
			= image_tag("shield.ico", width:"16px", class:"shield")
		- if msg.user.mod?
			= image_tag("mod_shield.ico", width:"16px", class:"shield")
		%time
			%i.icon-clock
			- if msg.created_at.to_date == Date.current
				= msg.created_at.strftime('%H:%M:%S')
			- elsif msg.created_at.to_date == Date.yesterday
				= msg.created_at.strftime('gestern - %H:%M:%S')
			- else
				= msg.created_at.strftime('%e. %b. - %H:%M:%S')
			= link_to '[x]', msg, method: :delete, remote: true, class: "del-link admin-only"

		= raw(msg.content_html)

