%aside
	= image_tag @user.avatar.url(:medium)
	- if @user.admin?
		#adminribbon
			ADMIN
	- if @user.is_female?
		%span.gender ♀
	-else
		%span.gender ♂

	.info
		%h1.name= @user.name
		= online_status @user
	%a.popup-btn3{:href => "#"}
		.box
			- if @user.score < 1000
				%span= @user.score
			- else
				%span= number_to_human(@user.score, :format => '%n%u', :units => { :thousand => 'K', :million => 'M' }, precision: 1)
			%p Score
	
	%a.popup-btn1{:href => "#"}
		.box
			%span= @user.inverse_friends.count
			%p Follower
	%a.popup-btn2{:href => "#"}
		.box
			%span= @user.friendships.count
			%p Folgt

	.popup-wrap1
		.popup-box1
			%h2 Follower
			%ul
				- for user in @user.inverse_friends
					%li= user.name
			%a.close-btn.popup-close1{:href => "#"}
				%i.material-icons close

	.popup-wrap2
		.popup-box2
			%h2
				= @user.name
				folgt
			%ul
				- for friendship in @user.friendships
					%li
						= friendship.friend.name
						- if current_user.id == @user.id
							#{link_to "[x]", friendship, :method => :delete}
			%a.close-btn.popup-close2{:href => "#"}
				%i.material-icons close

	.popup-wrap3
		.popup-box3
			%h2 Score
			%h3= @user.score
			%a.close-btn.popup-close3{:href => "#"}
				%i.material-icons close

	%br
	%br
	%br
	
	.sozial-media
		- if @user.twitter?
			= link_to "https://twitter.com/" + @user.twitter do
				%i.icon-social-twitter
		- if @user.facebook?
			= link_to "https://www.facebook.com/" + @user.facebook do
				%i.icon-social-facebook
		- if @user.instagram?
			= link_to "https://instagram.com/" + @user.instagram do
				%i.icon-social-instagram
		- if @user.askfm?
			= link_to "https://ask.fm/" + @user.askfm do
				= image_tag("askfm.png", width: "50px")
		- if @user.snapchat?
			.snapchat
				= image_tag("snap.png", width:"17px", height: "17px")
				%p.snap= @user.snapchat
				
	- if @user.owner?
		%b
			Meister der Gilde
			= link_to @guild.name, guild_path(@guild.id)
		%br
	- elsif @user.guildmember?
		%b
			Mitglied der Gilde
			= link_to @guild.name, guild_path(@guild.id)

	- unless current_user.id == @user.id
		- for friendship in current_user.friendships
			- if friendship.friend.name == @user.name
				- friend = 1
				- break
		- if friend == 1
			= link_to "entfolgen", friendship, :method => :delete
		- else
			= link_to "folgen", friendships_path(:friend_id => @user), :method => :post



	%hr
	%ul.menu
		= link_to @user do
			%li Pins
		= link_to about_path(@user) do
			%li Biografie
		= link_to anime_kanban_path(@user) do
			%li Anime
	%hr



:javascript
	$(document).ready(function() {
		$("a[href*='" + location.pathname + "'] > li").addClass("active");

	  $('.popup-btn1').click(function(e) {
	    $('.popup-wrap1').fadeIn(250);
	    $('.popup-box1').removeClass('transform-out').addClass('transform-in');

	    e.preventDefault();
	  });
	  $('.popup-btn2').click(function(e) {
	    $('.popup-wrap2').fadeIn(250);
	    $('.popup-box2').removeClass('transform-out').addClass('transform-in');

	    e.preventDefault();
	  });
	  $('.popup-btn3').click(function(e) {
	    $('.popup-wrap3').fadeIn(250);
	    $('.popup-box3').removeClass('transform-out').addClass('transform-in');

	    e.preventDefault();
	  });

	  $('.popup-close1').click(function(e) {
	    $('.popup-wrap1').fadeOut(250);
	    $('.popup-box1').removeClass('transform-in').addClass('transform-out');

	    e.preventDefault();
	  });
	  $('.popup-close2').click(function(e) {
	    $('.popup-wrap2').fadeOut(250);
	    $('.popup-box2').removeClass('transform-in').addClass('transform-out');

	    e.preventDefault();
	  });
	  $('.popup-close3').click(function(e) {
	    $('.popup-wrap3').fadeOut(250);
	    $('.popup-box3').removeClass('transform-in').addClass('transform-out');

	    e.preventDefault();
	  });
	});