= render 'aside'
.main
	- if @user.status?
		%p.status= @user.status
	- if @user.date_of_birth?
		- begin
			- if distance_of_time_in_words(Time.now, @user.date_of_birth, false, :only => :years) != "less than 1 year"
				= distance_of_time_in_words(Time.now, @user.date_of_birth, false, :only => :years)
		- rescue

	- begin
		.bio
			= markdown(@user.bio)
	- rescue

	- if current_user.id == @user.id
		= link_to "bearbeiten", edit_user_path
