= render 'aside'
.main
	= form_for @user do |f|
		%p.status= f.text_area :status
		~ f.text_area :bio
		%br
		= f.label :twitter
		= f.text_field :twitter
		%br
		= f.label :facebook
		= f.text_field :facebook
		%br
		= f.label :askfm
		= f.text_field :askfm
		%br
		= f.label :instagram
		= f.text_field :instagram
		%br
		= f.label :snapchat
		= f.text_field :snapchat
		%br
		= f.submit 'speichern', class: "btn"
