.main
	.ansage
		%p Bei der Benutzung von .dawn//Rebirth ist zu beachten, dass sich das sich die Community und die damit zusammenhängende Website noch in einer frühen Entwicklungsphase befindet. Daher können folgende Probleme auftreten oder Risiken bestehen:
		%br
		%ol
			%li Unerwarte Fehlermeldungen/Abstürtze
			%li Datenverlust
			%li Übergriffe durch Dritte auf die eigenen Daten
			%li Lange Wartezeiten
			%li Nicht verhinderbare unangemessene Inhalte durch User
		%br
		%p Wir bitten um Verständnis und sind bemüht die genanneten Probleme schnellstmöglich zu beheben. Dabei ist eine Zusammenarbeit mit den Nutzern äußerst behilflich! Falls also eine Fehlermeldung auftreten sollte oder unangemessenes Verhalten von Nutzern beobachtet werden, wäre eine Weiterleitung an einen Administrator sehr hilfreich!

		- @nagato = User.find(1)
		%p 
			Derzeitiger Administrator ist 
			= link_to @nagato.name, @nagato
			(Erreichbar über Chat und das Postfach)
	%br
	%hr
	%br
	%h1 Pins der Leute denen du folgst:
	#pins.transitions-enabled
		- @pin.each do |pin|
			- for friendship in current_user.friendships
				- if friendship.friend.name == pin.user.name
					.box
						- if pin.image?
							= image_tag pin.image.url
						%p= pin.description
						%h2= pin.user.name
						%i #{I18n.l(pin.created_at, format: '%-d %B %Y')}
						= link_to like_pin_path(pin), method: :put do
							= image_tag("like_up.png", class: "votes")
							%span= pin.get_upvotes.size
						= link_to unlike_pin_path(pin), method: :put do
							= image_tag("like_down.png", class: "votes")
							%span= pin.get_downvotes.size
						- if current_user.id == pin.user_id or current_user.admin?
							= link_to "zum Pin", pin



.side-box
	%h2 Neuste Otakus
	- @users = User.all.order("created_at DESC").limit(9)
	- @users.each do |user|
		= link_to user do
			= image_tag user.avatar.url(:small)
.side-box
	%h2 Gilden
	- @guilds = Guild.all.order("created_at DESC")
	- @guilds.each do |guild|
		= link_to guild.name, guild_path(guild.id)

