.landing
	.cl50
		%p.heading= link_to ".dawn//Rebirth", root_path
		= image_tag("itachi.png")
		%p Die Morgendämmerung erwartet dich!
			
	.cl50
		.center
			.tabs
				%p.tab.signin.active 
					%a Login 
				%p oder
				%p.tab.signup 
					%a Registrieren
			%br
			.content
				.signin-cont.cont
					= form_for(resource, as: resource_name, url: session_path(resource_name), enctype: "multipart/form-data") do |f|
						.form-group
							= f.text_field :email, required: true
							%label E-Mail
							%span.bar

						.form-group
							= f.password_field :password, required: true
							%label Passwort
							%span.bar

						.field
							= f.check_box :remember_me, class: 'checkbox'
							= f.label :remember_me, "Daten speichern", class: 'label'
						= f.submit 'Log in', class: "btn"
						= link_to "Passwort vergessen?", new_password_path(:user)
				.signup-cont.cont
					= form_for(resource, :as => resource_name, :url => registration_path(resource_name), enctype: "multipart/form-data") do |f|
						= devise_error_messages!
						.form-group
							= f.text_field :name, required: true
							%label Name
							%span.bar

						.form-group
							= f.email_field :email, required: true
							%label E-Mail
							%span.bar

						.form-group
							= f.password_field :password, autocomplete: "off", required: true
							%label Passwort
							%span.bar
							- if @minimum_password_length
								%em
									(mindestens #{@minimum_password_length} Zeichen)

						.form-group
							= f.password_field :password_confirmation, autocomplete: "off", required: true
							%label Passwort bestätigen
							%span.bar

						%label.label Hiermit erkläre ich mich mit den Nutzungsbedingungen einverstanden!
						.actions
							= f.submit "Registrieren", class: "btn"