.container
  .forms
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %br
      %br
      .form-group
        = f.email_field :email, autofocus: true, required: true
        = f.label :email
        %span.bar

      .form-group
        = f.password_field :password, autocomplete: "off", required: true
        = f.label :password, "Passwort"
        %span.bar

      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me, class: 'checkbox light'
          = f.label :remember_me, "Daten speichern", class: 'label'

      .actions
        = f.submit "Log in", class: "btn"

      = render "devise/shared/links"