!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title .dawn//Rebirth
		= csrf_meta_tags
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
		%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css", :rel => "stylesheet"}/

		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

	%body{:class => "#{'with-admin' if current_user.try(:admin?) or current_user.try(:mod?)}"}
		- if user_signed_in?
			#current-user

		%main
			- if notice
				#notice_wrapper
					%p.notice= notice
			- elsif alert
				#alert_wrapper
					%p.alert= alert

			= render 'home/consent_banner'
			.Dropdown
				- if user_signed_in?
					.Dropdown-profile
						%span.Name
						%span.MenuIcon
							%span.MenuIcon-line
							%span.MenuIcon-line
							%span.MenuIcon-line
					.Dropdown-nav
						%hr
						%ul.Dropdown-group
							%li
								= link_to current_user do
									= image_tag current_user.avatar.url(:extrasmall), class: "NavLink"
									%span= current_user.name
						%hr
						%ul.Dropdown-group
							%li
								= link_to pins_path do
									%i.icon-docs.NavLink
									%span Pins

								%a.icon-plus.OptionLink{:href => new_pin_path}
							%li
								= link_to guilds_path do
									%i.icon-graduation-cap.NavLink
									%span Gilden
								%a.icon-plus.OptionLink{:href => new_guild_path}
							%li
								= link_to chat_path, :"data-no-turbolink" => true do
									%i.icon-chat.NavLink
									%span Chat
							%li
								= link_to users_path do
									%i.icon-users.NavLink
									%span Users
						%hr
						%ul.Dropdown-group
							%li
								= link_to edit_user_registration_path do
									%i.icon-cog.NavLink
									%span Einstellungen
							%li
								= link_to destroy_user_session_path, method: :delete do
									%i.icon-logout.NavLink
									%span Logout


			%nav
				%p.heading= link_to ".dawn//Rebirth", root_path
				- if user_signed_in?
					= form_tag users_path, :method => 'get', :id => 'users_search' do
						= text_field_tag :search, params[:search],:placeholder => "Nach Usern suchen", required: true
						= submit_tag "Suchen", :name => nil, class: "btn"


			= yield


		%footer

			%ul
				%li Über
				%li Kontakt
				%li Nutzungsbedingungen
				%li Datenschutzerklärung
				%li Impressum

			%br
			%hr

			%p &copy; 2017 Maximilian Fornaçon

		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"}
